/.idea/
/venv/

# depenacies
/package-lock.json
/tensorflow.js/package-lock.json
/tensorflow.js/node_modules/

# raw data
/train-images.idx3-ubyte
/train-labels.idx1-ubyte

# labelled data
/train.json
/test.json

# models
/tensorflow.js/model/
/tensorflow/model/
/tensorflow/py-model/
